# (User) Service Unit for KeePassXC
[Unit]
Description=KeePassXC with automatic restart
Documentation=man:keepassxc-cli(1) man:keepassxc(1)
After=graphical.target
After=ssh-agent.service

[Service]
Type=exec
WorkingDirectory=%h
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/env keepassxc -platform xcb
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target

