# (User) Service Unit for KeePassXC
[Unit]
Description=KeePassXC with automatic restart
After=graphical.target

[Service]
Type=exec
WorkingDirectory=%h
ExecStart=/usr/bin/env keepassxc -platform xcb
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target

